@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'sans-serif';
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}



.navbar {

    background-color: #1f1e1f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    width: 100vw;
    height: 70px;
    position: fixed;
 

}

.logo {
    width: 8rem;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;


}


.logo img {

    width: 100%;
    height: 100%;


}

.nav-links-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}

.nav-links-desktop li {
    padding: 0 15px;
    
}

.nav-links-desktop li a {
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.nav-links-desktop a,
.nav-links-mobile a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links-desktop a:hover,
.nav-links-mobile a:hover {

    background-color: #333;
    color: #ffc526;
    border-bottom: solid 1px #Ffc526;

}

.hamburguer, .close {
    font-size: 24px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;

    
}

.close {
    background-color: rgba(0,0,0, 0.9);
}


.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    
}

.nav-links-mobile li {
    width: 80%;
    border-bottom: 1px solid #787272;
    padding-bottom: 1.2rem;
    
}

.nav-links-mobile a {
    text-decoration:  none;
    color: #fff;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: flex-end;

}

.primeiraSecao {

    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    color: #F39C12;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-transform: capitalize;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-image: linear-gradient(rgba(29,29,29,0.8), rgba(29,29,29,0.8)),url('./fundoPizza.webp');
  
}

.conteudo-principal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.conteudo-principal h1 {
    color: #Ffc506;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.conteudo-principal h2 {
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;

}

.conteudo-principal button {
    background-color: #Ffc506;
    text-transform: uppercase;
    width: 195px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}

.conteudo-principal button:hover {
    border: solid 1px #Ffc506;
    background-color: transparent;
    color: #Ffc506;

}

.butaoPrincipal {
    display: flex;
    width: 400px;
    justify-content: space-between;
}


.sobre-nos {
    background-color: #1f1e1f;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-nos img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: solid 2px white;
}

.main {
    display: flex;
    justify-content: space-between;
}

.contentsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2 {
    font-size: 6rem;
    padding-bottom: 2rem;
}

.contentsobre p {
    text-align: center;
    font-size: 1.8rem;
    width: 600px;

}

.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12,12,12,0.8);
}

.cardapio h2 {
    font-size: 5rem;
    color: #e6e6e6;
    text-transform: uppercase;
}

.itens-cardapio {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-cardapio .info {
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.itens-cardapio img {

    width: 100%;
    height: 200px;
}

.itens-cardapio .info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-cardapio .info h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 6rem;
}

.itens-cardapio .info span {
    font-size: 1.6rem;
    color: #585858;
    margin-left: 1.5rem;
    text-decoration: underline;
}

.contador {
    display: flex;
}

.itens-cardapio div {
    background-color: #5e5252;
    box-shadow: 0px 0px 4px 1px;
}

.itens-cardapio .info .pedir {
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #Ffc506;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
}

.itens-cardapio .info .pedir:hover {
    background-color: #5e5252;
    color: white;
}




@media (max-width: 768px) {

    html {
        font-size: 12px;
    }

    .navbar {
        justify-content: space-around;
    }

    .sobre img {
        width: 150px;
        height: 150px;
    }





    .nav-links-desktop {
        display: none;
    }

    .hamburguer {
        display: block;
    }
}

@media (max-width: 350px) {

    
}