@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'sans-serif';
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}



.navbar {

    background-color: #1f1e1f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    width: 100vw;
    height: 70px;
    position: fixed;
 

}

.logo {
    width: 80px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;


}


.logo img {

    width: 100%;
    height: 100%;


}

.nav-links-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}

.nav-links-desktop li {
    padding: 0 15px;
    
}

.nav-links-desktop li a {
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.nav-links-desktop a,
.nav-links-mobile a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links-desktop a:hover,
.nav-links-mobile a:hover {

    background-color: #333;
    color: #ffc526;
    border-bottom: solid 1px #Ffc526;

}

.hamburguer, .close {
    font-size: 24px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;

    
}

.close {
    background-color: rgba(0,0,0, 0.9);
}


.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    
}

.nav-links-mobile li {
    width: 80%;
    border-bottom: 1px solid #787272;
    padding-bottom: 1.2rem;
    
}

.nav-links-mobile a {
    text-decoration:  none;
    color: #fff;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: flex-end;

}

.primeiraSecao {

    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    color: #F39C12;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-transform: capitalize;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-image: linear-gradient(rgba(29,29,29,0.8), rgba(29,29,29,0.8)),url('./fundoPizza.webp');
  
}

.conteudo-principal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.conteudo-principal h1 {
    color: #Ffc506;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.conteudo-principal h2 {
    color: white;
}




@media (max-width: 768px) {

    html {
        font-size: 12px;
    }

    .navbar {
        justify-content: space-around;
    }

    .logo {
        font-size: 18px;
        width: auto;
    }

    .logoFoto {
        width: 80px;
    }


    .nav-links-desktop {
        display: none;
    }

    .hamburguer {
        display: block;
    }
}

@media (max-width: 350px) {

    .logo {
        font-size: 18px;
        width: auto;
    }

    .logoFoto {
        width: 70px;
    }

}